:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: rgb(224, 36, 94);
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --light0: #f8f8f8;
    --light1: #dbe1e8;
    --light2: #b2becd;
    --light3: #ebf0f5;
    --sub-light:  #e9ecef;
    --dark0: #303030;
    --dark1: #424242;
    --dark2: #212121;
    --sub-dark: #343a40;
    --purple0: #8064A2;
    --purple1: #604B7A;
    --bg: #303030;
}

  
[data-theme="dark"] {
    --link-color: #0a86da;
    --link-white-color: #c1bfbd;
    --bg: var(--dark0);
    --bg2: var(--dark1);
    --bg3: var(--sub-dark);
    --header-bg: var(--purple0);
    --font-color: var(--white);
    --font-color2: rgb(110, 118, 125);
    --color: white;
    --color2: #b2becd;
    --btop: 1px solid #f8f8f8;
    --gradient: linear-gradient(to right, #8064A2 60%, #212121);
}
  
[data-theme="light"] {
    --link-color: #0a86da;
    --link-white-color: #c1bfbd;
    /* --bg: var(--light0); */
    --bg: var(--light3);
    --bg2: var(--light1);
    /* --bg3: var(--sub-light); */
    --bg3: var(--light0);
    --header-bg: var(--purple0);
    --font-color: var(--dark0);
    --font-color2: rgb(110, 118, 125);
    --color: #424242;
    --color2: #424242;
    --btop: 1px solid #424242;
    --gradient: linear-gradient(to right, #8064A2 60%, #dbe1e8);
}

html {
    height: 100%;
    overflow-y: hidden;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--bg);
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color);
}

a {
    color: var(--color);
}

a:hover {
    color: var(--app-color);
}

strong {
    color: var(--font-color);
}

/* START - Custom Styling */
.logout:hover {
    color: var(--app-color);
    text-decoration: underline;
}

.custom-btn {
    color: var(--app-color);
    background-color: transparent;
    border-color: var(--app-color);
}

.custom-btn:hover {
    color: var(--light);
    background-color: var(--app-color);
    border-color: var(--app-color);
}

.custom-btn:not(:disabled):not(.disabled):active {
    color: var(--light);
    background-color: var(--app-color);
    border-color: var(--app-color);
}

.custom-btn:not(:disabled):not(.disabled):focus {
    color: var(--app-color);
    background-color: transparent;
    border-color: var(--app-color);
}

.settings-gear{ 
    color: var(--app-color);
}

.settings-gear:not(:disabled):not(.disabled):active {
    /* color: var(--light); */
    /* background-color: var(--app-color); */
    border-color: var(--app-color);
}

.settings-gear:not(:disabled):not(.disabled):focus {
    color: var(--app-color);
    background-color: transparent;
    border-color: var(--app-color);
}

.avatar {
    background-color: var(--app-color);
}

.username {
    font-size: .95rem;
    color: var(--color2);
}

.dropdown-divider {
    background-color: var(--app-color);
}

.artist-name {
    font-style: italic;
    font-size: .9rem;
    color: var(--color2);
}

.default-button {
    cursor: pointer;
}

.default-button:hover {
    opacity: 70%;
}

.follow-counts {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.follow-counts > div:first-child {
    margin-right: 15px;
}

.follow-counts > div > span {
    color: var(--color2);
}

.custom-link {
    border: none !important;
    font-weight: normal !important;
    color: var(--font-color) !important;
    display: block;
    padding: 0 !important;
    margin: 0 i !important;
    display: unset !important;
    align-items: unset !important;
    cursor: pointer;
}

.custom-link:hover {
    color: var(--app-color) !important;
}

.user-page-link-button {
    display: inline-block;
    cursor: pointer;
}

.user-page-link-button:hover {
    opacity: 90%;
}

.delete-btn {
    cursor: pointer;
}

.delete-btn:hover {
    color: var(--red);
}

.like-btn-fill {
    cursor: pointer;
}

.like-btn-fill:hover {
    color: var(--red);
}

.like-btn {
    cursor: pointer;
    color: var(--red);
}

.timestamp {
    padding-left: 5px;
    display: inline-block;
    color: var(--font-color2);
}

.overflow-tabs {
	overflow-x: hidden !important;
}

.embedRow { 
    margin: auto;
}

.content-embed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-content-embed {
    display: flex;
    align-items: center;
    width: 300px;
}

.image-embed {
    padding-top: 15px;
    min-width: 150px;
}

.image-embed > img {
    width: 150px;
    height: 150px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.info-embed {
    padding-left: 15px;
}

.custom-btn-filled {
    background-color: var(--app-color);
}

.custom-btn-filled:hover {
    background-color: var(--app-color);
    opacity: 90%;
}

.custom-btn-filled:not(:disabled):not(.disabled):active {
    color: var(--light);
    background-color: var(--app-color);
    border-color: var(--light);
}

.custom-btn-filled:not(:disabled):not(.disabled):focus {
    background-color: var(--app-color);
    border-color: var(--light);
}
/* END - Custom Styling */


/* START - Bootstrap Styling */
.modal-content {
    background-color: var(--bg);
}

.modal-open {
    padding-right: 0 !important
}

.modal-backdrop {
    z-index: 1;
}

.close {
    color: var(--font-color);
}

.close:hover {
    color: var(--app-color);
}

.form-control {
    background-color: var(--bg2) !important;
    color: var(--font-color);
}

.form-control:focus {
    color: #495057;
    background-color: var(--bg2);
    border-color: var(--app-color);
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--app-color);
    color: var(--font-color);
}

.jumbotron {
    background-color: var(--bg3);
}

.card {
    background-color: var(--bg3);
    color: inherit;
}

.dropdown-menu {
    color: var(--font-color);
    box-shadow: var(--app-color) 0px 0px 10px, var(--app-color) 0px 0px 1px 1px;
    background-color: var(--bg);
}

.vue-swatches__trigger{
    width: 35px !important;
    height: 35px !important;
} 

.tabs {
    display: block;
}

.tabs a {
    color: var(--font-color2);
    font-weight: 700;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid var(--app-color);
    color: var(--app-color);
    font-weight: 700; 
}

.nav-tabs .nav-link:hover {
    background-color: var(--bg2);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--app-color);
    color: var(--app-color);
}

.tabs ul {
    border-bottom: 1px solid transparent;
}

.bg-light {
    background-color: var(--bg) !important;
}
/* END - Bootstrap Styling */

/* START - Sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--app-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* END - Sliders */


